<IfModule mod_rewrite.c>

	Options +FollowSymLinks
	
	Options -Indexes

	RewriteEngine On

	# 如果请求的是真实存在的文件或目录，直接访问
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    
    RewriteRule ^article/([A-Za-z0-9]*)/([0-9]*)$ ArticleController.php?id=$2 [L]

    # 如果访问的文件或目录不是真事存在，分发请求至 index.php
    RewriteRule . index.php



</IfModule>

<filesMatch ".(jpg|jpeg|png|gif|ico)$">
	Header set Cache-Control "max-age=2592000, public"
</filesMatch>

<filesMatch ".(css|js|ico|php|html)$">
	Header set Cache-Control "max-age=604800, public"
</filesMatch>

<IfModule mod_deflate.c>
    <filesMatch "\.(html?|txt|css|js|php|pl)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>
